<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - FREEDOM</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Наши стили -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animations.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true" />
    <!-- jQuery (только один источник) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Yandex Maps (исправьте API-ключ) -->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=12d57ddc-fc01-48d7-aa16-f7bd7add7d68" type="text/javascript"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/Content/лого без фона.png" width="70" max-height="80" alt="FREEDOM">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="#directions">Направления</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">О студии</a></li>
                        <li class="nav-item"><a class="nav-link" href="#price">Прайс</a></li>
                        <li class="nav-item"><a class="nav-link" href="#promotions">Акции</a></li>
                        <li class="nav-item"><a class="nav-link" href="#schedule">Расписание</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contacts">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="bg-light text-center py-3">
        <p>&copy; 2026 FREEDOM Dance Studio</p>
    </footer>

    <!-- Скрипты -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scroll-animations.js" asp-append-version="true"></script>
    <script src="~/js/simple-slider.js" asp-append-version="true"></script>
    <script src="~/js/typing-animation.js" asp-append-version="true"></script>
    <script src="~/js/map.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
