@{
    ViewData["Title"] = "Договор оферты";
}

<div class="container py-5">
    <a href="/Content/docs/оферта.docx" target="_blank" class="btn btn-outline-primary btn-white-outline">
        Просмотреть договор оферты
    </a>
</div>