.main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    min-height: calc(100vh - 70px); /* 70px — высота шапки */
    padding: 20px;
}

.main-content.shifted {
    margin-left: 250px;
}

/* Общие отступы */
.mb-3 {
    margin-bottom: 1rem !important;
}

.mt-4 {
    margin-top: 3.5rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
