/* Стили для навигационной панели */
.navbar-custom {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-weight: bold;
    color: #333 !important;
}
.logo span {
    color: #0d6efd;
}

/* Активная ссылка в меню */
.nav-link.active {
    color: #0d6efd !important;
    font-weight: 500;
}

/* Иконки в меню */
.nav-link i {
    font-size: 1rem;
}