/* Подключаем все стили */
@import url('base/general.css');
@import url('base/typography.css');
@import url('base/animations.css');
@import url('base/auth.css');
@import url('base/profile.css');
@import url('base/loader.css');
@import url('base/pagination.css');
@import url('base/home-expiry-alerts.css');
@import url('base/finance.css');

@import url('components/sidebar.css');
@import url('components/cards.css');
@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/navbar.css');
@import url('components/alerts.css');
@import url('components/tables.css');
@import url('components/search.css');

@import url('layout/hero.css');
@import url('layout/main-content.css');

@import url('responsive/mobile.css');
@import url('responsive/tablet.css');
@import url('responsive/accessibility.css');
@import url('responsive/search_mobile.css');

