.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.slide-down {
    transform: translateY(-20px);
    animation: slideDown 1s ease-in forwards;
}

@keyframes slideDown {
    to {
        transform: translateY(0);
    }
}
