@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }
    .section {
        padding: 30px 0;
    }
}

@media (max-width: 576px) {
    .section img {
        margin: 0 auto;
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .slide img {
        height: 200px; /* Меньшая высота на мобильных */
    }
}