name: deploy

on:
  push:
    tags:
      - v.*

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: registry.gitlab.com
          username: ${{ secrets.DOCKER_PUSH_USERNAME }}
          password: ${{ secrets.DOCKER_PUSH_PASS }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build docker image
        run: |
          ls -l ${{github.workspace}}
          docker buildx build --file ${{github.workspace}}/Dockerfile --tag registry.gitlab.com/kuboork-server/docker/freedomdancestudio:latest .
          docker push registry.gitlab.com/kuboork-server/docker/freedomdancestudio:latest 

#      - name: Build and push
#        uses: docker/build-push-action@v6
#        with:
#          context: .
#          file: ../Dockerfile
#          push: true
#          tags: registry.gitlab.com/kuboork-server/docker/freedomdancestudio:latest