name: deploy landing

on:
  push:
    tags:
      - vl.*

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: registry.gitlab.com
          username: ${{ secrets.DOCKER_PUSH_USERNAME }}
          password: ${{ secrets.DOCKER_PUSH_PASS }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Check out repository
        uses: actions/checkout@v5

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Landing.dockerfile
          push: true
          tags: registry.gitlab.com/kuboork-server/docker/freedom:latest

      - name: Connect and run deploy script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: bash ~/docker/freedom/_deploy/deploy.landing.sh